body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.backing{

    border:solid;
    background-color: black;
    width: 465px;
    height:640px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.screen{
    background-color: antiquewhite;
    width:430px;
    height:120px;
    margin:20px 10px 0px 10px;
    border-radius: 4px;
}
button:hover{
    background-color:rgb(216, 215, 215);
}
.buttons{
    background-color: purple;
    width:445px;
    height:460px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding-right:5px;
}
.square{
    width:95px;
    height:80px;
    border-radius:6px;
    margin:3px 0px;
    font-size: 18px;
}
.rectangle{
    padding:15px 0px;
    width: 205px;
    height:80px;
    font-size: 20px;
    border-radius: 6px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin:0px
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top{
    display:flex;
    justify-content:center;
    gap:20px;
    align-items: center;
    width:450px;
}
.row{
    display: flex;
    justify-content: space-around;
    width:450px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.mainScreen{
    height:90px;
    font-size: 60px;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-right: 4px;
}

.upperScreen{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    padding-right: 4px;
}